@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color_text-primary: #3f7dc4;
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #485663;
    --main_color-primary: #3f7dc4;
    --main_color-secundary: #EFF3F5;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0, 0, 0, 0.2);
}

header {
    width: 100%;
    height: 100px;
    transition: all 300ms;
    z-index: 100;
}

.header__active {
    box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo {
    display: flex;
    margin-top: 3%;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 200px;
    border-radius: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0px 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a {
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    transition: all 300ms;
    position: relative;
}

.menu nav ul li a:hover {
    color: var(--color_text-primary);
}

nav ul li a.active {
    color: var(--color_text-primary);
}

nav ul li a.active:before {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--main_color-primary);
    position: absolute;
    bottom: -4px;
    border-radius: 20px;
}

.btn__quote {
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--main_color-primary);
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 20px;
    transition: all 300ms;
    color: rgb(63, 63, 63);
}

.btn__quote:hover {
    color: white;
    background: var(--main_color-primary);
}

.menu .socialMedia {
    margin: 0px 10px;
}

.menu .socialMedia a {
    margin: 0px 4px;
}

.menu .socialMedia img {
    width: 20px;
}

/*Menu hamburguesa*/

.bars__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main_color-primary);
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -40px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}



/*Portada de inicio*/


.container__cover {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--main_color-secundary);
}

.cover {
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__cover {
    width: 100%;
    padding-right: 150px;
}

.text__cover h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
}

.text__cover p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn {
    margin-top: 2%;
}

.btn__textt{
    width: 150px;
    padding: 10px 20px;
    background: var(--main_color-primary);
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
    color: white;
}

.btn__textt:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--main_color-primary);
}

.btn__text {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__text:hover {
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--main_color-primary);
}

.image__cover {
    width: 100%;
}

.image__cover img {
    width: 550px;
    border-radius: 10px;
}


/*Estilos generales CARDS*/

.container__card-primary {
    padding-top: 100px;
}


.card__primary {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary {
    max-width: 800px;
    margin: auto;
}

.text__card-primary p {
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1 {
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary {
    max-width: 400px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary > img {
    width: 300px;
    border-radius: 10px;
}


.box__card-primary:hover {
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}


.box__card-primary h2 {
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p {
    margin-top: 20px;
}


/*Sobre nosotros*/

.container__about {
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.about {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.text__about {
    width: 100%;
    padding-right: 40px;
}

.text__about h1 {
    color: var(--color_text-secundary);
    font-weight: 600;
}

.text__about p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.image__about {
    margin-left: 10%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.image__about img {
    width: 300px;
    border-radius: 2%;
}

/*Servicios*/

.card__service img {
    width: 200px;
    height: 200px;
}

.card__service i {
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color_text-primary);
}

/*Trabajos realizados*/

.container__work {
    background: var(--background-color);
    margin-top: 100px;
    padding-bottom: 100px;
}

.card__work {
    width: 350px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.text__work {
    width: 100%;
    padding: 20px;
    padding-top: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: start;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.001));
}

.text__work h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.text__work p {
    font-size: var(--text_title_cardv2);
    font-weight: 600;
    margin-top: 2px;
}


/*Contactenos*/

.container__contact {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background: var(--background-color);
}

.location__maps {
    width: 100%;
}

.location__maps iframe {
    width: 100%;
    height: 550px;
    border-radius: 3%;
}

.form__contact {
    width: 100%;
    margin: 0px 40px;
    padding: 10px;
}

.form__contact h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 40px;
    color: var(--color_text-secundary);
}

.form__contact form {
    width: 100%;
}

.name__email,
.subject__telephone {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.form__contact textarea {
    width: 100%;
    height: 120px;
    margin-top: 40px;
    resize: none;
}

.form__contact input[type="text"],
.form__contact input[type="email"],
.form__contact textarea {
    outline: none;
    background: none;
    margin-top: 40px;
    border: none;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--main_color-primary);
}

.form__contact input[type="text"],
.form__contact input[type="email"] {
    width: 48%;
}


/*Mensaje de contacto*/

.modal__message-send {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
}

.modal__message-send:target {
    display: block;
}

.message {
    max-width: 600px;
    padding: 40px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message p {
    margin-top: 20px;
}

.message a {
    max-width: 200px;
    display: block;
    margin-top: 20px;
    padding: 14px 40px;
    background: var(--main_color-primary);
    color: white;
    text-align: center;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 300ms;
}

.message a:hover {
    background: none;
    color: var(--color_text-primary);
    border-color: var(--main_color-primary);
}

/*Footer - Pie de página*/


.logo__footer {
    justify-content: center;
    display: flex;
    align-items: center;

}

.logo__footer>a>img {
    width: 100px;
    border-radius: 2%;
}

footer {
    width: 100%;
    margin-top: 120px;
}

.container__footer {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.row__information-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box__footer {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.box__footer h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.box__footer a {
    margin-top: 6px;
    color: var(--color_text-tertiary);
    font-size: 16px;
    transition: all 300ms;
}

.box__footer a:hover {
    color: var(--color_text-primary);
}

.box__footer:nth-child(1) {
    width: 350px;
}

.box__footer:nth-child(1) img {
    width: 180px;
}

.box__footer p {
    margin-top: 20px;
    font-size: 14px;
    color: var(--color_text-tertiary);
}

.box__footer form {
    margin-top: 20px;
    position: relative;
}

.box__footer input {
    width: 100%;
    padding: 14px 20px;
    padding-right: 50px;
    border: none;
    background: #F3F9FB;
    outline: none;
    border-radius: 6px;
}

.box__footer form i {
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 18px;
    color: var(--main_color-primary);
    cursor: pointer;
}

.box__contact-footer {
    margin-top: 18px;
    display: flex;
}

.box__contact-footer i {
    width: 36px;
    height: 36px;
    background: var(--main_color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}



.row__copyright-footer {
    width: 100%;
    margin: 20px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #EBEBEB;
}

.row__copyright-footer p {
    font-size: 14px;
    color: var(--color_text-tertiary);
}

footer .socialMedia {
    margin: 0px 10px;
}

footer .socialMedia a {
    margin: 0px 4px;
}

footer .socialMedia img {
    width: 20px;
}


/*Pagina Quienes Somos*/

.section{
    margin-top: 5%;
}

.section_nosotros{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


.section__link > img{
    width: 100%;
    border-radius: 1%;
    margin-left: 10%;
}

.text_section1 > h1{
    cursor: pointer;
    color: #2282d1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text_section1 > h1:hover{
    text-decoration: underline var(--color_text-primary);
}

.text_section1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 120px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 100px;
    color: rgb(53, 53, 53);
}



/*Media query 1200px*/

@media screen and (max-width: 1200px) {

    /*HEADER - MENU*/
    .container__header,
    .about {
        max-width: 960px;
    }

    .menu nav {
        margin: 0px 4px;
    }

    .menu nav ul li {
        margin: 0px 8px;
    }

    .menu nav ul li a {
        font-size: 14px;
    }

    .btn__quote {
        margin: 0px 4px;
    }

    .socialMedia {
        margin: 0px 4px;
    }

    /*PORTADA - COVER*/

    .cover {
        max-width: 960px;
    }

    .text__cover {
        padding-right: 20px;
    }

    .text__cover h1 {
        font-size: 40px;
    }

    .image__cover img {
        width: 450px;
    }

    .image__about img {
        width: 250px;
    }
}


/*Media query 960px*/

@media screen and (max-width: 960px) {

    /*HEADER - MENU*/

    .bars__menu {
        display: block;
    }

    .container__header,
    .about {
        max-width: 768px;
    }

    .menu {
        height: 100vh;
        position: absolute;
        top: 0;
        left: -420px;
        padding-top: 100px;
        padding-right: 200px;
        padding-left: 60px;
        background: white;
        flex-direction: column;
        box-shadow: 10px 0px 40px -20px rgba(0, 0, 0, 0.2);
        transition: all 300ms;
    }

    .menu__active {
        left: 0;
    }

    .menu nav {
        margin-left: -60px;
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li {
        margin: 8px 0px;
    }

    .menu nav ul li a {
        font-size: var(--lowText_font_size);
    }

    .btn__quote {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*PORTADA - COVER*/

    .cover {
        max-width: 768px;
    }

    .text__cover {
        padding-right: 20px;
    }

    .text__cover h1 {
        font-size: 30px;
    }

    .text__cover p {
        font-size: 14px;
    }

    .btn__text {
        font-size: 14px;
    }

    .image__cover img {
        width: 350px;

    }

    /*SOBRE NOSOTROS - ABOUT*/

    .text__about h1 {
        font-size: 30px;
    }

    .text__about p {
        font-size: 14px;
    }

    .image__about img {
        width: 200px;
    }

    /*FORMULARIO DE CONTACTO*/

    .container__contact {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        background: var(--background-color);
    }

    /*PAGINA SOBRE NOSOTROS*/

    .section_nosotros{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .section__link > img{
        width: 600px;
        margin: 0;
        border-radius: 2%;
        object-fit: cover;
    }

    .text_section1{
        padding: 0;
        margin: 0;
        width: 80%;
    }

    .text_section1 > p{
        font-size: 15px;
    }

}

@media screen and (max-width: 768px) {

    /*HEADER - MENU*/

    .logo img {
        width: 180px;
    }

    /*PORTADA - COVER*/

    .cover {
        margin-top: 40px;
        max-width: 600px;
        flex-direction: column;
    }


    .image__cover img {
        width: 100%;
        margin-top: 20px;
    }

    /*SOBRE NOSOTROS - ABOUT*/

    .about {
        max-width: 480px;
        flex-direction: column;
    }

    .text__about {
        width: 100%;
        padding-right: 0px;
    }

    .image__about {
        width: 100%;
        justify-content: space-between;
        margin: 0;
        margin-top: 7%;
    }

    .image__about img {
        min-width: 150px;
    }

    /*FORMULARIO DE CONTACTO*/

    .name__email,
    .subject__telephone {
        flex-direction: column;
    }

    .form__contact input[type="text"],
    .form__contact input[type="email"] {
        width: 100%;
    }

    /*PAGINA SOBRE NOSOTROS*/

    .section_nosotros{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .section__link > img{
        width: 100%;
        margin: 0;
        border-radius: 2%;
        object-fit: cover;
    }

    .text_section1{
        padding: 0;
        margin: 0;
        width: 90%;
    }

    .text_section1 > p{
        font-size: 12px;
    }

}






/* GALERIA */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    margin-top: 5%;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   gap: 15px;
}
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container .btn{
    margin: 40px 0 70px 0;
    padding: 15px 40px ;
    border-radius: 5px;
  }
  
  .container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
  }

  .btnn{
    margin-top: 2%;
  }

  .ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.ful-img img{
    width: 90%;
    max-width: 600px;
}
  
  @media only screen and (max-width: 769px){
      .container .box{
     flex-direction: column;
    }
  
  .container .box .dream{
    width: 100%;
  }

  }
  
  @media only screen and (max-width: 643px){
  .container .heading{
    width: 100%;
  }
  .container .heading h3{
    font-size: 1em;
  
  }
   
}





 